/* Navbar */
  .navbar{
    margin-bottom: 0px !important;
    padding: 0px 0px 30px 0px !important;
    background-color: $wh !important;
    border: 1px solid $wh;
    .navbar-brand {
      img{
        width: 100%;
      }
    }
    .navbar-right{
      li {
        a{
          font-family: 'Bravo SC';
          font-size: 30px;
          text-transform: uppercase;
          color: $bl-menu;
          margin: 10px;
          letter-spacing: 1px;
          i {
            margin-left:5px;
          }
          &:hover{
            color: $lblue;
          }
        }
      }
    }
  }

/* Header */
  header {
    background-image: url(../img/Hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px !important;
    .interior{
      padding:10% 30% 2% 30%;
      .caja-wh{
        padding: 25px 0px;
        background-color: rgba(254,254,254,0.75);
        .divider{
          border: 1px solid $lblue;
          width: 5%;
          margin: 0 auto;
        }
        .bravo-title{
          font-family: 'Bravo SC';
          font-size: 40px;
          text-transform: uppercase;
          color: $bk;
          margin: 10px;
          letter-spacing: 1px;
        }
      }
      .more{
        a {
          color: $wh;
          &:hover{
            text-decoration: none;
          }
        }
        margin: 15% 0%;
        font-family: 'Nunito Light';
        .aprende{
          margin-bottom: -5px;
          font-size: 12px;
        }
        i{
          font-size: 30px;
          margin-top: 0px;
          display: block;
        }
      }
    }
  }

/* Quienes somos */
  #who{
    margin: 100px 0px;
    .titu {
      font-size: 40px;
      margin: 0px 0px 30px 0px;
    }
    .parraf {
      color: $graytx;
      font-family: 'Nunito Regular';
      line-height: 20px;
    }
  }

/* Servicios */
  #servicios{
    background: url(../img/pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0px;
    .titugral {
      font-size: 40px;
      margin: 0px 0px 50px 0px;
    }
    .cont-serv{
      margin: 10px 0px;
      .expli{
        background-color: $wh;
        padding: 30px;
        margin-top: 10px;
        .sec{
          font-size: 25px;
          margin: 0px 0px 20px 0px;
        }
        .parraf {
          color: $graytx;
          font-family: 'Nunito Regular';
          font-size: 12px;
          line-height: 20px;
          margin-bottom: 30px;
        }
        .lee{
          color: $lblue;
          text-decoration: underline;
          font-family: 'Nunito Regular';
          font-size: 14px;
        }
      }
      img{
        width: 100%;
        margin-top: 10px;
      }
    }
  }

/* Proyectos y clientes */
  #proyectos{
    margin: 50px 0px 20px 0px;
    .pres{
      margin-bottom: 30px !important;
      font-size: 40px !important;
    }
    .titu2 {
      color: $bk;
      font-family: 'Bravo RG';
    }
    .parraf {
      color: $graytx;
      font-family: 'Nunito Regular';
      line-height: 20px;
    }
    .client{
      font-style: italic;
      font-family: 'Nunito Regular';
    }
    .boton{
      background-color: $lblue;
      color: $wh;
      border-radius: 0px !important;
      font-family: 'Bravo SC';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      padding: 3px 60px;
      margin: 50px 0px;
    }
  }

/* Trabaja con nosotros */
  .contact{
    padding: 50px 0px;
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -19px;
    .titu{
      color: $wh !important;
      margin-bottom: 30px;
      font-size: 40px !important;
    }
    .boton{
      background-color: $lblue;
      color: $wh;
      border-radius: 0px !important;
      font-family: 'Bravo SC';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      margin-top: 10px;
      border: 0px;
    }
    .form-control{
      border-radius: 0px;
      border: 1.5px solid $lblue;
    }
    ::-webkit-input-placeholder {
       font-family: 'Bravo RG';
       font-size: 20px;
    }

    :-moz-placeholder {
       font-family: 'Bravo RG';
       font-size: 20px;
    }
  }

/* Footer */

  footer {
    padding: 50px 0px;
    background-color: $gray;
    border-top: 2px solid #3b3b3b;
    a{
      color: $wh;
      margin: 0px 10px;
    }
    .separed{
      color: $wh;
    }
    .parraf {
      color: $wh;
      font-family: 'Nunito Light';
      font-size: 16px;
      margin-top: 15px;
    }
    .sello{
      color: $wh;
      font-family: 'Nunito Light';
      font-size: 12px;
      letter-spacing: 1px;
    }
  }