/* Tipografías */

@font-face {
  font-family: 'Bravo SC';
  src: url('../fonts/BravoSC.otf');
}
@font-face {
  font-family: 'Nunito Light';
  src: url('../fonts/Nunito-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Nunito Regular';
  src: url('../fonts/Nunito-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito Bold';
  src: url('../fonts/Nunito-Bold.ttf');
  font-weight: 700;
}


/* ----- Estilos anteriores ---------*/
/*Generales*/
header, section, footer {
  padding: 7% 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Fresca";
}
p {
  font-family: "Nunito";
}

h1, h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 35px;
  margin-bottom: 4%;
}

.color-green {
  color: rgb(0, 152, 116);
}
.color-white {
  color: #fff;
}
.color-gray {
  color: #303030;
}
.bg-green {
  background-color: rgb(0, 152, 116);
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-image: url(../img/paper.png);
  background-repeat: repeat;
}
.form-group input {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.btn-default {
  background-color: rgb(0, 152, 116);
  border: 1px solid rgb(0, 152, 116);
  color: #fff;
}
.btn-m {
  margin-top: 3%;
}
.pd-p {
  padding: 5% 3%;
}
.divider {
  width: 30px;
  border:1px solid rgb(0, 152, 116);
}
.divider-lg {
  width: 60px;
  border:1px solid rgb(0, 152, 116);
}

/* Nav */
nav .navbar {
  min-height: 100px;
}
.navbar-brand img {
  width: 70%;
  height: auto;
}
.navbar-toggle {
  border: 1px solid rgb(0, 152, 116);
}

.icon-bar {
  background-color: rgb(0, 152, 116)
}
.navbar-right {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar-header a img {
    width: 45%;
    height: auto;
  }

  .navbar .collapse ul li a{
    font-size: 12px;
  }
  .bg-w {
    margin-bottom: 5%;
  }
  .pd-p {
    font-size: 10px;
    text-align: left;
  }
  .link-p {
    font-size: 10px;
  }
  .inb {
    display: inline-block;
  }
}

/* Home */
.bg-h {
  background-image: url(../img/Hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 9%;
}
.box-h {
  background-color: rgba(242, 243, 243, 0.6);
  padding: 4% 0;
}
.box-w {
  margin-bottom: 2%;
  padding: 2%;
}

/* Proyectos y Clientes */
.titulo-project {
  background-image: url(../img/Proyectos-clientes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.clientes {
  background-color: #DAD5D5;
  max-width: 86%;
  margin-bottom: 2%;
  padding-bottom: 5%;
}
.text {
  margin-left: 2%;
  margin-top: 2%;
}
/* Trabaja con nosotros*/
.bg-form {
  background-image: url(../img/Trabaja.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -19px;
}
.input-group-addon {
  padding: 6px 8%;
  border: 1px solid rgb(0, 152, 116);
  background-color: rgb(0, 152, 116);
  color: #fff;
}



/* Footer */
footer {
  background-color: #7E7C7C;
  color: #fff;
  font-size: 18px;
  font-family: "Nunito";
}

footer a {
  color: #fff;
  font-size: 30px;
  padding: 0 2%;
}

footer a:hover {
  color: rgb(0, 152, 116);
}
footer span.separed {
  font-size: 30px;
}
.made {
  font-size: 15px;
}
