#work{
  padding: 50px 0px 80px 0px;
}
#contact {
  .boton{
    background-color: $lblue;
    color: $wh;
    border-radius: 0px !important;
    font-family: 'Bravo SC';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 10px;
    border: 0px;
  }
  .uno{
    padding: 3px 60px;
  }
  .dos{
    padding: 3px 30px;
  }
}